<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
    <h1>{{ new.heading|censor }}</h1>
    {% if new.choice == "AR" %}
        <h2>Article</h2>
    {% else %}
        <h2>New</h2>
    {% endif %}
    <p>Publication date: {{new.published_date|truncatechars:11}}</p>
    <h5>{{new.text|censor}}</h5>
    <h5>{{new.choice}}</h5>

{% endblock content %}