<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->

{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}

   <h1>{% translate "All News!" %}</h1>
    <h2>Number of posts: {{ news|length }}</h2>
   <h3>{{ time_now|date:'m.d.Y' }}</h3>
   <hr>
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

            <select name="language" id="">
                {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

                {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} - {{ language.code }}
                    </option>
                {% endfor %}
            </select>
        <input type="submit" value="set">
    </form>
   {% if news %}
       <table>
           <tr>
               <td>{% translate  "Heading" %}</td>
               <td>{% translate  "Text" %}</td>
               <td>{% translate  "Published date" %}</td>
               <td>{% translate  "Content type" %}</td>
               <td>{% translate  "Rating of the post" %}</td>
           </tr>

           {% for new in news %}
           <tr>
               <td>{{ new.heading|censor }}</td>
               <td>{{ new.text|truncatechars:10|censor }}</td>
               <td>{{ new.published_date|truncatechars:11 }}</td>
               {% if new.choice == "AR" %}
               <td>{% translate  "Article" %}</td>
               {% else %}
               <td>{% translate  "New" %}</td>
               {% endif %}
               <td>{{ new.post_rating }}</td>
           </tr>
           {% endfor %}

       </table>
        {% if is_not_author %}
            <button> <a href="upgrade/">{% translate  "I wanna be author!" %}</a> </button>
        {% endif %}
   {% else %}
       <h2>No News!</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}